@font-face {
	font-family: "Display";
	src: url("../fonts/digital_dis.ttf");
}

@font-face {
    font-family: "FiraMonoOT-Regular";
  	src: url("../fonts/FiraMonoOT-Regular.otf");
}

body {
	width: 480px;	
	margin: 0px;
	padding: 0px;
	background: url('../img/fondo.png') left top no-repeat;
}

#registro{
	font-family: Display;
	font-size: 20px;
	background-color: #cd6723;

}

#crono{
	font-family: Display;
	font-size: 100px;
	text-align: center;
	color: white;
}

#controlador{
	text-align: center;
}

#parciales{
    padding: 20px;
	text-align: center;	
}

textarea {
  resize: none;
  font-size: 40px;
  padding: 10px;
  color: white;
  border: 0.1rem solid #A6A6A6;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.cabecera{
	padding-left: 0px;
	width: 480px;
	height: 5em;
	background: -moz-linear-gradient(top, #cd6723, #bb482d);
}

.titulo {
	width: 480px;
	left: 80px;
	top: 15px;
	font-family: FiraMonoOT-Regular; 
	font-size: 3.5rem; 
    color: black;	
    border: 10px;
    height: 80px;
    position: absolute;

}

.leyenda {
	font-family: FiraMonoOT-Regular;
	padding: 10px;
	font-size: 0.8rem; 
}

/* FireFOX OS Documentation */
button, a[role="button"], .button  {
    -moz-box-sizing: border-box;
    border: 0.1rem solid #A6A6A6;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    color: #333333;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
    height: 3.8rem;
    line-height: 3.8rem;
    margin: 0 0 1rem;
    outline: medium none;
    overflow: hidden;
    padding: 0 1.5rem;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-shadow: 0.1rem 0.1rem 0 rgba(255, 255, 255, 0.3);
    vertical-align: middle;
    white-space: nowrap;
    width: 90%;
}

button.recommend, a.recommend[role="button"] {
    background-color: #00CAF2;
    background-image: url("buttons/images/ui/recommend.png");
    border-color: #008EAB;
}


button:active, a[role="button"]:active, button.recommend:active, a.recommend[role="button"]:active {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #008AAA;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto 100%;
    border-color: #008AAA;
    color: #333333;
}

button.danger:active, a.danger[role="button"]:active, .button.danger:active {
    background-image: none;
}
button.danger:active, a.danger[role="button"]:active, .button.danger:active {
    background-color: #890707;
    background-image: url("buttons/images/ui/danger-press.png");
}
button.danger, a.danger[role="button"], span.danger[role="button"] {
    background-color: #B70404;
    background-image: url("buttons/images/ui/danger.png");
    border-color: #820000;
    color: #FFFFFF;
    text-shadow: none;
}