h1 {
	color: #0BB;
	font-weight: lighter;
	font-variant: small-caps;
}

strong {
	color: #f00;
}

span.firma {
	color: #f0f;
	font-size: 10px;


}

#diccionario
{
width:500px;
text-align: justify;
margin:30px;

}

#diccionario strong
{
	color: #fff;
	border:2px solid #bbf;
	background:#bbb;
	width:120px;
}

body {
	line-height: 150%;


}